/* --- RESETEO --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("fondo.png");
    background-size: cover;
    background-attachment: fixed;
}

/* --- HEADER --- */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #d0d500;
    border: 4px solid #d0d500;
    padding: 20px;
    background-color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

nav li {
    background: #d0d500;
    padding: 8px 18px;
    border-radius: 6px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* --- SECCIONES PRINCIPALES --- */
main section {
    padding: 30px;
    width: 70%;
    margin: 40px auto;
    background: rgba(900, 900, 900, 0.9);
    border-radius: 10px;
    border: 3px solid #d0d50088;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

article {
    background: #fff;
    border: 3px solid #4924f0;
    padding: 15px;
    width: 260px;
    margin: 15px auto;
    border-radius: 10px;
}

article h3 {
    color: #2729b0;
    border-bottom: 2px solid #2729b0;
    margin-bottom: 10px;
}

/* --- ANUNCIOS --- */
#anuncios {
    position: fixed;
    top: 180px;
    left: 20px;
    width: 200px;
}

.anuncio {
    background: white;
    border: 3px solid #d0d500;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.anuncio img {
    width: 100%;
    border-radius: 8px;
}

/* --- FORMULARIO --- */
#pedido {
    width: 70%;
}

fieldset {
    border: 2px solid #d0d500;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #a4b73a;
}

input[type="submit"] {
    background: #bcd500;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #a4c400;
}

/* --- FOOTER --- */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #f3f3f3;
    border-top: 4px solid #d0d500;
}


